<table>
  <tr>
    <th>Feed URL</th>
    <th>Author</th>
    <th></th>
  </tr>

  {{#each model as |setting|}}
    <tr>
      <td>
        {{input
          value=setting.feed_url
          placeholder="https://blog.example.com/feed"
          disabled=saving
        }}
      </td>
      <td>
        {{user-selector
          single=true
          includeGroups=false
          usernames=setting.author_username
          disabled=saving
        }}
      </td>
      <td>
        {{d-button
          icon="times"
          action="destroy"
          actionParam=setting
          disabled=saving
        }}
      </td>
    </tr>
  {{/each}}
</table>

{{d-button
  label="admin.wellfed.add_feed"
  action="create"
  icon="plus"
  class="btn-secondary"
  disabled=saving
}}

{{d-button
  label="admin.wellfed.save"
  action="update"
  class="btn-primary"
  disabled=unsavable
}}
