<div class="rss-polling-feed-settings">
  <table>
    <thead>
      <tr>
        <th colspan="2">{{i18n "admin.rss_polling.feed"}}</th>
        <th colspan="3">{{i18n "admin.rss_polling.discourse"}}</th>
        <th rowspan="2">
          {{d-button
            icon="save"
            action="update"
            class="btn-primary"
            disabled=unsavable
          }}
        </th>
      </tr>
      <tr>
        <th>{{i18n "admin.rss_polling.feed_url"}}</th>
        <th>{{i18n "admin.rss_polling.feed_category_filter"}}</th>
        <th>{{i18n "admin.rss_polling.author"}}</th>
        <th>{{i18n "admin.rss_polling.discourse_category"}}</th>
        <th>{{i18n "admin.rss_polling.discourse_tags"}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |setting|}}
        <tr>
          <td>
            {{input
              value=setting.feed_url
              placeholder="https://blog.example.com/feed"
              disabled=saving
            }}
          </td>
          <td>
            {{input
              value=setting.feed_category_filter
              placeholder="updates"
              disabled=saving
            }}
          </td>
          <td>
            {{email-group-user-chooser
              value=setting.author_username
              disabled=saving
              onChange=(action "updateAuthorUsername" setting)
              options=(hash maximum=1)
            }}
          </td>
          <td>
            {{category-chooser
              value=setting.discourse_category_id
              class="small"
              onChange=(action (mut setting.discourse_category_id))
            }}
          </td>
          <td>
            {{tag-chooser
              tags=setting.discourse_tags
              allowCreate=false
              everyTag=true
              unlimitedTagCount=true
              class="small"
              onChange=(action (mut setting.discourse_tags))
            }}
          </td>
          <td>
            {{d-button
              icon="times"
              action="destroy"
              actionParam=setting
              disabled=saving
            }}
          </td>
        </tr>
      {{/each}}
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          {{d-button
            action="create"
            icon="plus"
            class="btn-secondary"
            disabled=saving
          }}
        </td>
      </tr>
    </tfoot>
  </table>

  <p>
    <a
      href="https://meta.discourse.org/t/configure-the-discourse-rss-polling-plugin/156387"
    >
      {{i18n "admin.rss_polling.documentation"}}
    </a>
  </p>
</div>
