<div class="rss-polling-feed-settings">
<table>
  <tr>
    <th>{{i18n 'admin.rss_polling.feed_url'}}</th>
    <th>{{i18n 'admin.rss_polling.author'}}</th>
    <th>{{i18n 'admin.rss_polling.start_date'}}</th>
    <th>
      {{d-button
        icon="save"
        action="update"
        class="btn-primary"
        disabled=unsavable
      }}
    </th>
  </tr>

  {{#each model as |setting|}}
    <tr>
      <td>
        {{input
          value=setting.feed_url
          placeholder="https://blog.example.com/feed"
          disabled=saving
        }}
      </td>
      <td>
        {{user-selector
          single=true
          includeGroups=false
          usernames=setting.author_username
          disabled=saving
        }}
      </td>
      <td>
        {{date-picker class="rss-date-input" defaultDate="YYYY-MM-DD" value=setting.start_date }}
      </td>
      <td>
        {{d-button
          icon="times"
          action="destroy"
          actionParam=setting
          disabled=saving
        }}
      </td>
    </tr>
  {{/each}}

  <tr>
    <td></td>
    <td></td>
     <td></td>
    <td>
      {{d-button
        action="create"
        icon="plus"
        class="btn-secondary"
        disabled=saving
      }}
    </td>
  </tr>
</table>

<p>{{i18n 'admin.rss_polling.remember_to_add_allowed_hosts'}}</p>
</div>
